@model iHungry.Models.Košarica

@{
    ViewData["Title"] = "Delete";
}

<h2>Izbriši</h2>

<h3>Jeste li sigurni da želite izbrisati stavku?</h3>
<div>
    <h4>Košarica</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Količina)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Količina)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Jelo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Jelo.Naziv)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Izbriši" class="btn btn-default" /> |
        <a asp-action="Index">Nazad na košaricu</a>
    </form>
</div>
