

@{
    ViewData["Title"] = "Narudžba";
}


<h2>Vaša narudžba je zaprimljena!</h2>


<h3>Dostava za:</h3>
<h5>Ime i prezime: @ViewBag.Ime</h5>
<h5>Adresa: @ViewBag.Adresa</h5>
<h5>Broj telefona: @ViewBag.Broj</h5>
<h3>Vrijeme dostave: 45min</h3>

