@{
    ViewData["Title"] = "Home Page";
}

<img src="~/beef.jpg" height="200" width="350"/><img src="~/ham.jpg" height="200" width="350" /><img src="~/pizza.jpg" height="200" width="350" />

<h2>Dobrodošli na najbolji servis za naručivanje hrane, iHungry!</h2>
<h3>Ukoliko ste gladni, izaberite jelo iz naše ponude i klikom miša naručite dostavu na vašu adresu.</h3>
